.logo {
    width: 30px;
    height: 30px;
    /* this is a real image encoded via base64 text, an awesome technology! check https://varvy.com/pagespeed/base64-images.html for more info */
}

.bg-gec {
  background-color: yellow;
}